<form [formGroup]="gameForm" (ngSubmit)="submitGame()">
  <fieldset>
    <legend>Game data</legend>
    <select name="name" formControlName="name" (change)="setGameData()">
      <option value="">select game</option>
      <option *ngFor="let game of gameList" [value]="game.name">
        {{ game.name }}
      </option>
    </select>
    <p
      style="color: red"
      *ngIf="
        gameForm.controls.name.hasError('required') &&
        gameForm.controls.name.dirty
      "
    >
      must select a game
    </p>

    <select
      name="gameType"
      id="gameType"
      *ngIf=" gameForm.controls.name.value === 'Athletics'"
      formControlName="subgame"
      (change)="setAthleticsGame()"
    >
      <option value="">Select Athlete Game</option>
      <option *ngFor="let game of athleticsGameList" [value]="game.name">
        {{ game.name }}
      </option>
    </select>

    <label for="type">type</label>
    <input type="text" id="type" formControlName="type" readonly />

    <label for="playerCount">player</label>
    <input
      type="number"
      id="playerCount"
      formControlName="playerCount"
      readonly
    />
  </fieldset>
  <fieldset *ngIf="gameForm.controls.name.value !== ''">
    <legend>teamA</legend>
    <form formArrayName="teamA">
      <div
        *ngFor="
          let group of gameForm.controls.teamA.controls;
          let index = index
        "
      >
        <div [formGroup]="group">
          <input
            type="text"
            placeholder="name of player"
            [value]="group.controls['name'].value"
            readonly
          />
          <input
            type="text"
            placeholder="Age of player"
            [value]="group.controls['age'].value"
            readonly
          />
          <input
            type="text"
            placeholder="Price of player"
            [value]="group.controls['price'].value"
            readonly
          />
          <button
            type="button"
            [disabled]="
              !gameForm.controls.teamA.controls[index].controls['name'].value
            "
            (click)="removePlayer(index, 'teamA')"
          >
            delete
          </button>
        </div>
      </div>
    </form>
    <select name="player" id="player" formControlName="player">
      <option *ngFor="let player of PlayerNotSelected" [value]="player.name">
        {{ player.name }}
      </option>
    </select>
    <button
      type="button"
      [disabled]="!gameForm.controls.player.value"
      (click)="addPlayer('teamA')"
    >
      add
    </button>
  </fieldset>
  <fieldset
    *ngIf="
      gameForm.controls.name.value !== 'Athletics' &&
      gameForm.controls.name.value !== ''
    "
  >
    <legend>team B</legend>

    <form formArrayName="teamB">
      <div
        *ngFor="
          let group of gameForm.controls.teamB.controls;
          let index = index
        "
      >
        <div [formGroup]="group">
          <input
            type="text"
            placeholder="name of player"
            [value]="group.controls['name'].value"
            readonly
          />
          <input
            type="text"
            placeholder="Age of player"
            [value]="group.controls['age'].value"
            readonly
          />
          <input
            type="text"
            placeholder="Price of player"
            [value]="group.controls['price'].value"
            readonly
          />
          <button
            type="button"
            [disabled]="
              !gameForm.controls.teamA.controls[index].controls['name'].value
            "
            (click)="removePlayer(index, 'teamB')"
          >
            delete
          </button>
        </div>
      </div>
    </form>
    <select name="player" id="player" formControlName="player">
      <option *ngFor="let player of PlayerNotSelected" [value]="player.name">
        {{ player.name }}
      </option>
    </select>
    <button
      type="button"
      [disabled]="!gameForm.controls.player.value"
      (click)="addPlayer('teamB')"
    >
      add
    </button>

  </fieldset>

  <button
    type="submit"
    [disabled]="this.gameForm.controls.teamA.controls.length < 2"
  >
    submit
  </button>
</form>
